<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/reset-password" method="POST">

        <input name="password" type="text" placeholder="new password">
        <input name="confirm-password" type="text" placeholder="confirm new password">
        <input name="key" type="text" value="{{key}}">
        <button>
            Save password
        </button>

    </form>
    
</body>
</html>