<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/reset-password" method="POST">

        <input name="user_password" type="text" placeholder="Indtast ny adgangskode">
        <input name="confirm_password" type="text" placeholder="Gentag adgangskode">
        <input name="reset_key" type="text" value="{{reset_key}}" hidden>
        <button>
            Bekræft ny adgangskode
        </button>

    </form>
    
</body>
</html>